<section id="projects" class="section-box">
  <h2>Our Projects</h2>
  <ul>
    <li>
      <strong>Mahadaan 2024:</strong>
      We collected 30 bags of clothes, 151 kg of foodgrains & ₹21,362 in cash thanks to two partner societies and your generosity.
    </li>
    <li>
      <strong>Night School Visit:</strong>
      We taught & distributed stationery kits to under privileged children at a local night school sparking big smiles & brighter futures.
    </li>
    <li>
      <strong>Pyaas 2.0:</strong>
      Under the scorching sun, we teamed with Rotaract Vibrants & local Rotary clubs to serve chilled sherbets to motorists & passersby.
    </li>
    <li>
      <strong>The Ice Breaker:</strong>
      Hosted by Rtr. Avani, fun games & conversations turned strangers into friends and welcomed prospects into our vibrant fellowship.
    </li>
  </ul>
</section>
